[Unit]
Description=Radio Paradise
After=systemd-user-sessions.service network.target pulseaudio.service
[Service]
ExecStart=/usr/bin/mplayer http://stream-dc1.radioparadise.com/rp_96m.ogg
WorkingDirectory=/home/sh
Restart=always
RestartSec=10
[Install]
WantedBy=default.target
