[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "/home/sh/.vim/bundle/vimproc.vim"]
	path = /home/sh/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/ghcmod-vim"]
	path = .vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule ".vim/bundle/rust"]
	path = .vim/bundle/rust
	url = https://github.com/wting/rust.vim.git
[submodule ".vim/bundle/vim-kerboscript"]
	path = .vim/bundle/vim-kerboscript
	url = git://github.com/tomvanderlee/vim-kerboscript.git
[submodule ".vim/bundle/vim-racer"]
	path = .vim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/marcweber/vim-addon-mw-utils
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
