[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "/home/sh/.vim/bundle/vimproc.vim"]
	path = /home/sh/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/ghcmod-vim"]
	path = .vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "src/notmuch"]
	path = src/notmuch
	url = git://notmuchmail.org/git/notmuch
[submodule ".vim/bundle/rust"]
	path = .vim/bundle/rust
	url = https://github.com/wting/rust.vim.git
