snippet class
	class ${1:ClassName}(${2:object}):
		"""${3:docstring for $1}"""
		def __init__(self, ${4:*args, **kwargs}):
			${5:super($1, self).__init__(*args, **kwargs)}
			${6}

snippet __a
	__author__ = "Sergei Shilovsky <sshilovsky@gmail.com>"


snippet sys
	import sys
	sys.exit(12345)

snippet pdb
	import pdb
	pdb.set_trace()

" vim:foldlevel=10000
