# !!! required group: input
[Unit]
Description=startx
After=systemd-user-sessions.service network.target
[Service]
User=sh
PermissionsStartOnly=true
ExecStartPre=/bin/chgrp sh /dev/tty7
ExecStartPre=/bin/chmod g+rw /dev/tty7
ExecStart=/usr/bin/startx -- vt7
WorkingDirectory=/home/sh
Restart=on-success
[Install]
WantedBy=multi-user.target
